@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 10px;z-index:100;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: transparent; z-index:100;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;z-index:100;
   
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;z-index:100;
}

.resizable {
    position: relative;
  }
  
  .resizer {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: ew-resize;
    background-color: #333;
  }
  
  .resizing {
    background-color: #555;
  }